  body{
  background: rgb(19, 19, 14);
  color: blanchedalmond;
} 
.Header-Bar{
  position: absolute;
  width: 101px;
  height: 33px;
  left: 320px;
  top: 1px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 23px;

  } 
  .Sider-Bar{
    position: absolute;
    font-size: 20px;
    background: rgb(19, 19, 14);
    color: gray;
  }
  .Logo{
    width: 220px;
    height: 50px;
    display: flex;
  }
  .input{
    position:  absolute;
    display: flex;
    width: 30rem;
    left: 53rem;
    top: 20px;
    text-decoration: transparent;
    background-color: rgb(19, 19, 17);
    color: gray;
    border-radius: 20px 20px 20px 20px;
  }
  /* .Sider-Menu{
    color: rgb(148, 114, 63);
    display: unset;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    text-decoration: none;

  } */
  /* ul{
    margin: 10px 20px;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    width:200px;
    top: 50%;
    left: -20%;
    margin: -35px;
    float: left;
    margin-top: 30px;
   } */
  /* li{
    color: red;
    list-style: none;
    margin: 20px 10px;
    display: flex;
    height: 100%;
    margin-right: -70px;
    margin-right: 100px;
     border: 1px solid blue; 
  }  */
   .nav__cont{
    position: fixed;
    width: 50px;
    top: 70px;
    height: 80vh;
    z-index: 100;
    background-color: rgb(19, 19, 14);
    overflow: hidden;
    transition: width .3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgb(0,0,0);
  } 
  .nav__cont:hover{
    width: 200px;
  }
  @media screen and(min-width: 600px) {
    width: 80px;
  }
  .nav{
    list-style-type: none;
    color: white;
  }
  .nav:first-child{
    padding-top: 1.5rem;
  }
  .nav__items{
    padding-bottom:4rem;
    font-family: 'roboto';
    color: gray;
  }
  a{
    position: relative;
    display: flex;
    top: -5px;
    text-align: center;
    padding-left: 10px;
    padding-right: 15px;
    transition:all .3s ease;
    margin-left: -50px;
    margin-right: -10px;
    text-decoration: none;
    color: white;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 2.35em;
    flex-direction: row;
  }
  a:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
    opacity:0;
    transition: all .5s ease;
    z-index: -10;
  }
  a:hover a:after{
    opacity: 1;
  }
  Link{
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
  }
@media screen and(min-width:600px) {
  width: 32px;
  height: 32px;
  left: -15px;
}


  /* .Sider-Menu a{
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: blue ;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
  }
  a{
    display: block;
    padding: 16px;
    text-decoration: none;
  }
  .Sider-Menu a.active{
    background: yellow;
    color: pink;
  }
  a:hover:not(.active) {
    background-color: white;
    color: black;
  }
  div li{
    margin-left: -30px;
    padding: 1px 16px;
    height: 30px;
  }  */

  .Sider-Menu a{
    display: flex;
    justify-content: space-between;
    margin-right: -60px;
    margin: 5px;
    padding: 10px 10px;
    color: gray;
    font-size: 20px;
    position: auto;
    margin-bottom: -100px;
    margin-right: 100px;
    width: 100px;
    height: -200px;
    top: -40px;
  }
  a{
    display: flex;
    padding: 1px;
    text-decoration: none;
  }
  /* .Sider-Menu a.active{
    background: yellow;
    color: pink;
  } */
  a:hover:not(.active) {
    background-color: white;
    color: gray;
  }
  div li{
    margin-left: -30px;
    padding: 1px 1px;
    /* height: 30px; */
  } 

  .upper-Bar{
    display: flex;
    
  } 
  h1{
    width: 425px;
    /* border: 1px solid blue; */
  }
  .nav-icon {
    display: absolute;
    font-size: 1.4rem;
    ;
  }
  .nav-header link{
    font-size: 0;
  }
  .img{
    position: absolute;
    height: 300px;
    width: 370px;
    left: -380.5px;
    top: -70px;
    border-radius: 0px 100px 0px 100px;
    padding: 5px;
    opacity: 0.2px;

  }
  .hair-cut{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .haircut-word{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: -420.46px;
    top: 200.85px;
    width:800px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 59px;
    font-family: Roboto;
    color: gray;
  }
  .style-card img,.style-item img, .style-style img, .style-cut img, .style-make img{
    border-radius: 50px;
    height: 100px;
  
  }
  .style-card {
    position: absolute;
    width: 100.48px;
    left: -440.10px;
    top: 270.06px;
    cursor: pointer;
    color: gray;
  }
  .style-item{
    position: absolute;
    width: 200.11px;
    left: 200.73px;
    top: 0px;
    cursor: pointer;
  }
  .style-style{
    position: absolute;
    height: 20.69px;
    width: 109.51px;
    top: 0.13px;
    left: 200.75px;
    cursor: pointer;

   }
   .style-cut{
    position: absolute;
    width: 100px;
    height: 94.37px;
    left: 200.5px;
    top: 0.06px;
    cursor: pointer;
   }
   .style-make{
    position: absolute;
    width: 100px;
    height: 94.37px;
    left: 200.5px;
    top: 0.06px;
    cursor: pointer;
   }
  .Home-Content {
    position: absolute;
    left: 50%;
    width: 10%;
    bottom: 40%;
    box-shadow: inset;
   
  }
  .Home{
    background-color: rgb(51, 47, 31, 67%);
    color: gray;
    border-radius: 0px 50px 50px 0px;
    width: 10em;

  }
  .Details{
    background-color: rgb(51, 47, 31, 67%);
    color: gray;
    border-radius: 0px 50px 50px 0px;
    width: 9em;
  }
  .Book{
    background-color: rgb(51, 47, 31, 67%);
    color: gray;
    border-radius: 0px 50px 50px 0px;
    width: 6em;
  }
  .form-Note{
    font-size: 40px;
    font-family: sans-serif,"roboto";
    display: flex;
    width: 70rem;
    
  }
  .form{
    width: 46rem;
    height: 17rem;
    margin: 60px;
    padding: 70px;
    text-decoration: none;
    border: 5px solid gray;
  }
  .form-control{
    text-decoration: transparent;
    width: 30rem;
    height: 2rem;

  }
  .form-Email{
    text-decoration: transparent;
    width: 30rem;
    height: 4rem;
    opacity: 0.8;

  } 
  .form-Name{
    text-decoration: transparent;
    width: 30rem;
    height: 4rem;
    opacity: 0.8;

  } 
  .form-Message{
    text-decoration: transparent;
    width: 30rem;
    height: 4rem;
    opacity: 0.8;

  } 
  .btn{
    position: center;
    height: 39px;
    width: 100px;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    background-color: rgb(51, 47, 31, 67%);
    color: gray;
    border-radius: 20px 10px 20px 10px;
  }



 
 








  
  